body{
	background-color: #EEEEEE;
}
*{
	font-family: roboto;
}
#title{
	text-align: center;
	font-size: 40px;
}
.text_center{
	text-align: center;
	justify-content: center;
}
.main_text{
	width: 50%;
	margin: 0 auto 0 auto;
	text-align: left;
	font-size: 20px !important;
}
section  p {
	margin: 20px auto !important;
	font-size: 20px;
}
.style_text{
	margin: 20px auto;
}